body {
    background-color: #e8edee;
    font-family: 'Times New Roman', Times, serif;

}
.header {
    text-align: center;
}
.avatar {
    width: 300px;
    height: 300px;
}
.header__title {
    font-size: 28px;
}
.header__subtitle {
    color: rgb(168, 32, 32);
}
main {
    border: 1px solid darkgrey;
    text-align: center;
}
.skills ol {
list-style: none;
}
.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(223, 183, 144);
}
.video iframe {
    width: 800px;
    height: 400px;
    border: none;
}
.ed_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;

}
.ed_table th,
.ed_table td {
    border: 1px solid black;
    padding:10px;


}
.quote {
    font-size: 32px;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.form_control{
    width: 100%;
}
footer {
    height: 100px;
    text-align: center;
    background-color: bisque;
}
.contact__link {
    text-decoration: none;
    color: black;
}
